<div class="row">

  <div class="col-12 text-center mb-3">
    <h2 class="text-white">Encontramos o profissional ideal para <mark>você</mark>!</h2>
  </div>

  <div class="col-sm-7">
   <div class="card card-body mb-3">
    <h2>
      <strong>Assine</strong> o plano e <strong>reserve</strong> este profissional.
    </h2>

    <div class="row justify-content-center mt-3">
      <div class="col-auto">
        <div class="rounded-circle border enfermeiro"></div>
      </div>
      <div class="col-sm-6">
        <h1 class="mb-0">
        Fulano Fulano
        </h1>
        <p class="text-muted">especialista em enfermagem.</p> 
      </div>
    </div>

    <div class="row mt-4">
      <div class="col m-auto">
      <p class="text-center"><strong>Currículo</strong></p>
        <p>
          Sou cuidador e acompanhante de idosos!
          <br>
          Sou motorista tenho CNH categoria B
          <br>
          Tenho experiência de 10 anos e sou certificado pela Cematec com curso profissionalizante de cuidador e acompanhante de idosos.
          <br>
          Facilidade de adaptação, boa comunicação, organização, responsabilidade, fácil aprendizagem. Higiene pessoal do idoso em geral, banho, troca de fraldas, administrar medicações e etc, falo inglês e espanhol básico para atender idosos e pessoas de outras nacionalidades de todas as idades, tenho passaporte, disponibilidade de viajar para qualquer lugar do brasil e também para o exterior se for preciso como acompanhante, fico de acompanhante também em hospitais, clinicas, viagens, passeios, asilos e também posso trabalhar em residencias, posso fazer plantões e atendimentos em hospitais e residencias se houver a necessidade de 6, 12, 24, 36, 48, 72 hs, ou mais ou menos dias e horários a combinar, força física, e posso trabalhar também aos finais de semana e feriados, eu moro em são bernardo do campo SP mais eu atendo em qualquer região da grande são paulo, litoral, interior, outros estados e para o exterior também, já fiz viagens ao exterior, tenho experiência com translado casa, aeroporto, despachos de malas e check-in no embarque, posso dormir no local de trabalho e fazer viagens.
          <br>
          meus tels para contato 24hs
          <br>
          11 9 5841 58 77 cel tim e whatsaap.
          <br>
          11 9 4305 07 15 cel vivo
        </p>
      </div>
    </div>
  </div>

  </div>
  <div class="col-sm-5 m-auto">
  <div class="card card-body mb-3">
    <form class="mb-2">
        <div class="form-group">
          <label>Seu nome completo</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group">
          <label>Seu melhor e-mail</label>
          <input type="email" class="form-control" placeholder="e-mail">
        </div>

        <div class="form-group text-center">
          <h3>
            <small>de <s>R$200</s>
            por </small>  <strong class="text-success">R$100</strong> 
            <small> na assinatura!</small>
          </h3>
        </div>

        <button type="submit" class="btn btn-success btn-block">Assinar agora!
          <strong>R$20/mês</strong>
        </button>
    </form>
  </div>
  <h2 class="text-white">Avaliações</h2>

    <% (0..2).to_a.each do |book| %>

      <div class="card mt-2">
        <div class="card-body">

          <div class="row">
            <div class="col-sm-2">
              <div class="rounded-circle border user"></div>
            </div>
            <div class="col">
              <strong>Usuário</strong> <br>
              <p class="text-muted">
                A minha avó gostou muito deste rapaz! Recomendo!
              </p>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>

</div>