<div class="row">

  <div class="col-7 card card-body">
    <h2>
      <strong>Assine</strong> o plano e <strong>reserve</strong> este profissional.
    </h2>

    <div class="row justify-content-center mt-3">
      <div class="col-auto">
        <div class="rounded-circle border enfermeiro"></div>
      </div>
      <div class="col-6">
        <h1 class="mb-0">
        Fulano Fulano
        </h1>
        <p class="text-muted">especialista em enfermagem.</p> 
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-8 m-auto">
      <p class="text-center"><strong>Currículo</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div>
    </div>

  </div>
  <div class="col-5 m-auto">
  <div class="card card-body mb-3">
    <form class="mb-2">
        <div class="form-group">
          <label>Seu nome completo</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group">
          <label>Seu melhor e-mail</label>
          <input type="email" class="form-control" placeholder="e-mail">
        </div>

        <div class="form-group text-center">
          <h3>
            <small>de <s>R$200</s>
            por </small>  <strong class="text-success">R$100</strong> 
            <small> na assinatura!</small>
          </h3>
        </div>

        <button type="submit" class="btn btn-success btn-block">Assinar agora!
          <strong>R$20/mês</strong>
        </button>
    </form>
  </div>
  <h2 class="text-white">Avaliações</h2>

    <% (0..2).to_a.each do |book| %>

      <div class="card mb-2">
        <div class="card-body">

          <div class="row">
            <div class="col-2">
              <div class="rounded-circle border user"></div>
            </div>
            <div class="col">
              <strong>Usuário</strong> <br>
              <p class="text-muted">A minha avó gostou muito deste rapaz! Recomendo!</p>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>

</div>