  <div class="row">
    <div class="col m-auto text-center">
      <h2 class="mb-3 text-white">Encontre o profissional <mark>ideal</mark> para seu ente querido.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-8 m-auto">

    <% (0..10).to_a.each do |book| %>

      <div class="card mb-3">
        <div class="card-body">

          <div class="row">
            <div class="col-2">
              <div class="rounded-circle border enfermeiro"></div>
            </div>
            <div class="col">
              <h1 class="mb-0">
                Fulano Fulano
              </h1>
              <p class="text-muted">especialista em enfermagem.</p>
            </div>
            <div class="col align-self-end text-right">
              <%= link_to "Requisitar", carers_buy_path(1), class: "btn btn-primary" %>
            </div>
          </div>

        </div>
      </div>
    <% end %>

      

    </div>

  </div>