<div class="row">
  <div class="col-sm-6 m-auto">
    <h3 class="mb-3 text-white">Cadastre-se agora e comece a trabalhar.</h3>
    <div class="card p-4">
      <form>
        <div class="form-group">
          <label>Seu nome completo</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group">
          <label>Seu melhor e-mail</label>
          <input type="email" class="form-control" placeholder="e-mail">
        </div>

        <div class="form-group">
          <label>O que você faz?</label>
          <select class="form-control">
            <option>Enfermeiro(a)</option>
            <option>Cuidador(a)</option>
            <option>Fisioterapeuta</option>
          </select>
        </div>

        <div class="form-group">
          <label>Fale mais sobre a sua especialidade</label>
          <textarea class="form-control" placeholder="Conte-nos sobre você!"></textarea>
        </div>

        <div class="form-group">
          <label>Em que cidade?</label>
          <select class="form-control">
            <option>Palhoça, SC</option>
          </select>
        </div>

        <div class="form-group">
          <label>Qual bairro?</label>
          <input type="text" class="form-control" placeholder="Bairro">
        </div>

        <div class="form-group">
          <label>Quanto custa o seu plantão de 8 horas?</label>
          <input type="text" class="form-control" placeholder="R$">
        </div>

        <button type="submit" class="btn btn-success btn-block">
          <strong>Cadastrar</strong>
        </button>
      </form>

    </div>
  </div>

</div>