<div class="row">
  <div class="col-6 m-auto">
    <h3 class="mb-3 text-white">Conte-nos mais sobre <mark>você</mark>.</h3>
    <div class="card p-4 mb-3">
      <form>

        <div class="form-group">
          <label>Seu nome completo</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>

        <div class="form-group">
          <label>Seu melhor e-mail</label>
          <input type="email" class="form-control" placeholder="e-mail">
        </div>
      </div>

      <h3 class="mb-3 text-white">Conte-nos mais sobre <mark>seu ente querido</mark>.</h3>

      <div class="card p-4">

        <div class="form-group">
          <label>Nome completo</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>

        <div class="form-group">
          <label>Sexo</label>
          <div class="radio">
            <label><input type="radio" name="optradio" checked> Masculino</label> <br>
            <label><input type="radio" name="optradio" checked> Feminino</label>
          </div>
        </div>

        <div class="form-group">
          <label>Estado de saúde</label>
          <textarea class="form-control" placeholder="Conte-nos sobre seu ente querido."></textarea>
        </div>

        <div class="form-group">
          <label>Condições de mobilidade</label>
          <textarea class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label>Enfermidade diagnosticada</label>
          <textarea class="form-control"></textarea>
        </div>

         <div class="form-group">
          <label>Frequência de utilização de cuidados</label>
          <div class="radio">
            <label><input type="radio" name="optradio" checked> 2 vezes por semana</label> <br>
            <label><input type="radio" name="optradio" checked> 3 vezes por semana</label> <br>
            <label><input type="radio" name="optradio" checked> Finais de Semana</label> <br> 
            <label><input type="radio" name="optradio" checked> Diária</label> <br>
          </div>
        </div>

         <%= link_to "Buscar Profissionais", carers_buy_path(1), class: "btn btn-success btn-block" %>
      </form>

    </div>
  </div>

</div>